<!DOCTYPE html>
<html>
<head>
  <title>RasterClipper</title>
  <%= stylesheet_link_tag    "raster_clipper/application", media: "all" %>
  <%= javascript_include_tag "raster_clipper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
